/* font style  */
.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.body-color-bg{
  background-color: #e9e9ee;
}
.nav-logo{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: #4E47FF;
  font-size: 34px;
  font-weight: 800;
}
.head-content{
   max-width: 1440px;
   height: 600px;
   margin: 0 auto;
   background-image: url(../image/Hero-bg.png);
}
/* nav style */

.nav-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.btn-primary{
    color: #FFFFFF ;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
}
/* banner style */

.banner-content{
    text-align: center;
    
}

.banner-description{
    font-size: 65px;
    font-weight: bold;
    margin-top: 158px;
    margin-bottom: 40px;
}
/* main style */
.challenge{
  display: flex;
  justify-content: space-between;
  margin: 200px 160px 200px 140px;
}
img{
  border-radius: 10px;
}
.content-title{
  font-size: 42px;
  font-weight: bold;
}
.content-description{
  font-size: 24px;
  font-weight: 100;
}
main{
  margin: 0 auto;
  max-width: 1440px;
}
.mark{
  display: flex;
  justify-content: space-around;
}
.mark-title{
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 0%;
}
.title-head{
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 0%;
}
.title-description{
  font-size: 20px;
  font-weight: 200;
  margin-top: 0%;
}
.all-title{
  background-color: #d7d7e2;
  border-radius: 10px;
  padding: 50px 80px;
  margin: 160px 140px;
}
.user{
  text-align: center;
  margin-bottom: 50px;
  font-size: 42px;
  font-weight: bold;
}
.comment-title{
  font-size: 25px;
  font-weight: bold;
}
.comment-description{
  font-size: 18px;
  font-weight: 200;
}
.commenter{
  display: flex;
  gap: 30px;
}

.comment{
  width: 300px;
  border: 2px solid #F2EDED;
  border-radius: 10px;
  padding: 10px;
}
.Reviewer{
  border-radius: 50%;
  height: 100%;
}
.nr{
  margin: 0;
  padding: 0;
}
.review-comments{
  display: flex;
  gap: 20px;
  margin: 0 160px 200px 140px;
}
/* second banner style */
.second-banner{
  background-color: white ;
  border-radius: 10px;
  margin: 0px 160px 200px 140px;
  padding: 1px 100px;
  
}
.second-banner-title{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
}
.second-banner-description{
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}
.box{
  margin-left: 310px; 
  margin-bottom: 20px;
}
.second-banner-image{
  margin-bottom: 70px;

}